{{!-- This page represents the individual contents of a recipe with a title,
list of ingredients, and recipe instructions. Further action requires developing
the database.--}}
<div class="recipe-post">
    <div class="recipe-title">
        <h1>{{name}}</h1>
    </div>
    <div class="recipe-ingredients">
        <h3>Ingredients:</h3>
        <ul>
            {{#each ingredients}}
                <li>{{this.qty}} {{this.uom}} of {{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    {{!-- <div class="recipe-instructions">
        <p>{{description}}</p>
    </div> --}}
</div>
