{{!-- 
    Citation for the following functions:
        table structure, hidden forms, and buttons
    Date: 03/16/2025
    Based on:
    Source URL: https://canvas.oregonstate.edu/courses/1987790/pages/exploration-developing-in-node-dot-js?module_item_id=25023025 
--}}

<h1>Cooked Recipes</h1>
<div id="browse" style="display: block">
  <h3>Browse Cooked Recipes</h3>
  <a class="new-btn" href="#" onclick="addRecord()">New</a>
  <table>
    <tbody>
      <tr>
        <th class="text-center">Cooked ID</th>
        <th class="text-left">Recipe</th>
        <th class="text-center">Date</th>
        <th class="text-left">Alteration(s)</th>
        <th class="text-left">Note(s)</th>
      </tr>
      {{#each cookedRecipes}}
      <tr>
        <td class="text-center">{{cooked_ID}}</td>
        <td class="text-left">{{recipe_name}}</td>
        <td class="text-center">{{cooked_date}}</td>
        <td class="text-left">{{cooked_alteration}}</td>
        <td class="text-left">{{cooked_notes}}</td>
        <td><a href="#" onclick="updateCookedRecipeValues({{cooked_ID}})">Edit</a></td>
        <td><a href="#" onclick="deleteCookedRecipe({{cooked_ID}})">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div> <!-- browse -->

<div id="insert" style="display: none">
  <h3>Add Cooked Recipe</h3>
  <div class="formDiv">
    <form class="formContainer" id="addCookedRecipe" action="javascript:addCookedRecipe()">
      <div class="formInputContainer">
        <label for="Recipe" class="formInputLabel adjustWidth">Recipe:</label>
        <div class="formInputElement">
          <select id="add_cookedrecipe_recipe" class="formInput">
            {{#each recipeList}}
            <option value="{{recipe_ID}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Date" class="formInputLabel adjustWidth">Date:</label>
        <div class="formInputElement">
          <input type="date" id="add_cookedrecipe_date" name="date" class="formInput">
          <script>document.getElementById('add_cookedrecipe_date').valueAsDate = new Date();</script>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Alterations" class="formInputLabel adjustWidth">Alteration(s):</label>
        <div class="formInputElement">
          <input type="text" id="add_cookedrecipe_alteration" name="alterations" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Notes" class="formInputLabel adjustWidth">Note(s):</label>
        <div class="formInputElement">
          <input type="text" id="add_cookedrecipe_note" name="notes" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addCookedRecipe" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Cooked Recipe</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateCookedRecipe" action="javascript:updateCookedRecipe()">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel adjustWidth">ID:</label>
        <div class="formInputElement">
          <input type="text" id="update_cookedrecipe_id" name="cookedrecipeID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Recipe" class="formInputLabel adjustWidth">Recipe:</label>
        <div class="formInputElement">
          <select id="update_cookedrecipe_recipe" class="formInput">
            {{#each recipeList}}
            <option value="{{recipe_ID}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Date" class="formInputLabel adjustWidth">Date:</label>
        <div class="formInputElement">
          <input type="date" id="update_cookedrecipe_date" name="date" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Alterations" class="formInputLabel adjustWidth">Alteration(s):</label>
        <div class="formInputElement">
          <input type="text" id="update_cookedrecipe_alteration" name="alterations" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Notes" class="formInputLabel adjustWidth">Note(s):</label>
        <div class="formInputElement">
          <input type="text" id="update_cookedrecipe_note" name="notes" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="updateCookedRecipe" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- update -->
