{{!-- 
    Citation for the following functions:
        table structure, hidden forms, and buttons
    Date: 03/16/2025
    Based on:
    Source URL: https://canvas.oregonstate.edu/courses/1987790/pages/exploration-developing-in-node-dot-js?module_item_id=25023025 
--}}

<h1>Ingredients</h1>
<div id="browse" style="display: block">
<h3>Browse Ingredients</h3>
<table>
  <tr>
    <th class="text-center">Recipe ID</th>
    <th class="text-left">Ingredient ID</th>
    <th class="text-right">Ingredient Quantity</th>
    <th class="text-right">Ingredient Qty to Grams</th>
    <th class="text-right">Ingredient Unit of Measurement</th>
  </tr>
  {{#each ingredientsOfRecipe}}
    <tr>
      <td>{{this.recipe_ID}}</td>
      <td>{{this.ingredient_ID}}</td>
      <td>{{this.ingredient_qty}}</td>
      <td>{{this.ingredient_qty_to_gram}}</td>
      <td>{{this.ingredient_qty_display_uom}}</td>

    </tr>
  {{/each}}
</table><!-- browse -->

