{{!-- 
    Citation for the following functions:
        table structure, hidden forms, and buttons
    Date: 03/16/2025
    Based on:
    Source URL: https://canvas.oregonstate.edu/courses/1987790/pages/exploration-developing-in-node-dot-js?module_item_id=25023025 
--}}

<h1>Ingredients</h1>
<div id="browse" style="display: block">
<h3>Browse Ingredients</h3>
<table>
  <tr>
    <th class="text-center">Recipe ID</th>
    <th class="text-left">Ingredient ID</th>
    <th class="text-right">Ingredient Quantity</th>
    <th class="text-right">Ingredient Qty to Grams</th>
    <th class="text-right">Ingredient Unit of Measurement</th>
  </tr>
  {{#each ingredientsOfRecipe}}
    <tr>
      <td>{{this.recipe_ID}}</td>
      <td>{{this.ingredient_ID}}</td>
      <td>{{this.ingredient_qty}}</td>
      <td>{{this.ingredient_qty_to_gram}}</td>
      <td>{{this.ingredient_qty_display_uom}}</td>
      {{!-- <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
      <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td> --}}
    </tr>
  {{/each}}
</table><!-- browse -->

{{!-- <div id="insert" style="display: none">
  <h3>Add Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="addIngredient">
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addIngredient" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateIngredient">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel">ID:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientID" name="ingredientID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveIngredient" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- update -->

<div id="deleteRecord" style="display: none">
  <h3>Delete Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="deleteIngredient">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel">ID:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientID" name="ingredientID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput" disabled>
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveIngredient" value="Delete">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- delete --> --}}
