<h1>Ingredients</h1>
<div id="browse" style="display: block">
<h3>Browse Ingredients</h3>
<a class="new-btn" href="#" onclick="addRecord()">New</a>
<table>
  <tr>
    {{!-- <th class="text-center"><a href="#" onclick="addRecord()">New</a></th> --}}
    <th class="text-center">ID</th>
    <th class="text-left">Name</th>
    <th class="text-right">Cost (per gram)</th>
  </tr>
  {{#each ingredients}}
    <tr>
      <td>{{ingredient_ID}}</td>
      <td>{{name}}</td>
      <td>{{cost_per_gram}}</td>
      <td><a href="#" onclick="updateRecord({{ingredient_ID}})">Edit</a></td>
      <td><a href="#" onclick="deleteIngredient({{ingredient_ID}})">Delete</a></td>
    </tr>
  {{/each}}
</table><!-- browse -->

<div id="insert" style="display: none">
  <h3>Add Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="addIngredient">
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addIngredient" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Ingredient</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateIngredient">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel">ID:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientID" name="ingredientID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Name" class="formInputLabel">Name:</label>
        <div class="formInputElement">
          <input type="text" id="ingredientName" name="ingredientName" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Cost" class="formInputLabel">Cost (per gram):</label>
        <div class="formInputElement">
          <input type="number" id="ingredientCost" name="ingredientCost" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveIngredient" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- update -->
