    <script>
        var cuisinesList = 
    </script>
    
    <div>
        <div class="recipes-all-content">
            <div id="recipes-filter-container">
                <h2>Filters</h2>

                <div class="filter-input-container">
                    <label for="filter-text" class="filter-input-label">Text</label>
                    <div class="filter-input-element">
                        <input type="text" id="filter-text" class="filter-input">
                    </div>
                </div>

                <div class="filter-input-container">
                    <label for="filter-cuisine" class="filter-input-label">Cuisine</label>
                    <div class="filter-input-element">
                        <select id="filter-cuisine" class="filter-input" name="filter-cuisine">
                            <option selected value="">Any</option>
                            {{#each cuisineList}}
                            <option value="cuisine_ID">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="filter-input-container">
                    <label for="filter-rating" class="filter-input-label">Rating</label>
                    <div class="filter-input-element">
                        <div class="checkbox-text">
                            <input type="checkbox" id="filter-1" class="filter-input-checkbox" name="filter-1">
                            <label for="filter-1">Between 0-1</label>
                        </div>
                        <div class="checkbox-text">
                            <input type="checkbox" id="filter-2" class="filter-input-checkbox" name="filter-2">
                            <label for="filter-2">Between 1-2</label>
                        </div>
                        <div class="checkbox-text">
                            <input type="checkbox" id="filter-3" class="filter-input-checkbox" name="filter-3">
                            <label for="filter-3">Between 2-3</label>
                        </div>
                        <div class="checkbox-text">
                            <input type="checkbox" id="filter-4" class="filter-input-checkbox" name="filter-4">
                            <label for="filter-4">Between 3-4</label>
                        </div>
                        <div class="checkbox-text">
                            <input type="checkbox" id="filter-5" class="filter-input-checkbox" name="filter-5">
                            <label for="filter-5">Between 4-5</label>
                        </div>
                    </div>
                </div>



                <div class="filter-input-container">
                    <div id="updateButtonContainer" class="filter-input-element">
                        <button id="filter-update-button" type="button" class="filter-buttons">Update</button>
                    </div>
                </div>
                <div class="filter-input-container">
                    <div id="newRecipeButtonContainer" class="filter-input-element">
                        <button type="button" id="add-recipe-button" class="filter-buttons">New</button>
                    </div>
                </div>

            </div>

            <div id="recipes-column">
                <div class="testimonial-header">
                    <h1>Recipes</h1>
                </div>
            
                <div id="browse" style="display: block"> {{!-- this will be something to implement with our database --}}
                    <table>
                        <tr>
                            {{!-- <th><a href="#" onclick="addRecord()">New</a></th> --}}
                            <th class="text-center">Recipe ID</th>
                            <th class="text-left">Recipe Name</th>
                            <th class="text-left">Description</th>
                            <th class="text-left">Cuisine ID</th>
                        </tr>
                        {{#each recipes}}
                        <tr>
                            <td class="text-center">{{recipe_ID}}</td>
                            <td class="text-left">{{recipe_name}}</td>
                            <td class="text-left">{{recipe_description}}</td>
                            <td class="text-left">{{cuisine_name}}</td>
                            <td><a href="#" onclick="updateRecord('this.ID')">Edit</a></td>
                            <td><a href="#" onclick="deleteRecord('this.ID')">Delete</a></td>
                        </tr>
                        {{/each}}
                    </table>
                    {{#each recipesData}}
                        {{> single-recipe}}
                    {{/each}}
                </div><!-- browse -->
                <div id="insert" style="display: none"></div>
                <div id="updateRecord" style="display: none">
                    <h3>Update Recipe</h3>
                    <div class="formDiv">
                        <form class="formContainer" id="updateRecipe">
                        <div class="formInputContainer">
                            <label for="Name" class="formInputLabel adjustWidth">Recipe Name:</label>
                            <div class="formInputElement">
                                <input type="text" id="name" name="name" class="formInput">
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Description" class="formInputLabel adjustWidth">Description:</label>
                            <div class="formInputElement">
                                <input type="text" id="description" name="description" class="formInput">
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Cuisine" class="formInputLabel adjustWidth">Cuisine:</label>
                            <div class="formInputElement">
                                <select id="cuisine" class="formInput">
                                    {{#each cuisineList}}
                                    <option value="cuisine_ID">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <input class="buttons" type="submit" id="updateRecipe" value="Update">
                        <input class="buttons" type="button" value="Cancel" onclick="browse()">
                        </form>
                    </div>
                </div><!-- update -->

                <div id="deleteRecord" style="display: none">
                    <h3>Delete Recipe</h3>
                    <div class="formDiv">
                        <form class="formContainer" id="deleteRecipe">
                        <div class="formInputContainer">
                            <label for="Name" class="formInputLabel adjustWidth">Name</label>
                            <div class="formInputElement">
                                <input type="text" id="name" name="name" class="formInput" disabled>
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Description" class="formInputLabel adjustWidth">Description:</label>
                            <div class="formInputElement">
                                <input type="text" id="description" name="description" class="formInput" disabled>
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Cuisine" class="formInputLabel adjustWidth">Cuisine:</label>
                            <div class="formInputElement">
                                <select id="cuisine" class="formInput" disabled>
                                    <option value="1">Italian</option>
                                    <option value="2">Mexican</option>
                                    <option value="3">Mediterranean</option>
                                    <option value="4">American</option>
                                    <option value="5">Chinese</option>
                                </select>
                            </div>
                        </div>
                        <input class="buttons" type="submit" id="deleteRecipe" value="Delete">
                        <input class="buttons" type="button" value="Cancel" onclick="browse()">
                        </form>
                    </div>
                </div><!-- delete -->
            </div>
        </div>
    </div>


    {{!-- This modal may be used to implement adding new recipes. Need more info on database incorporation to 
    do this properly. --}}
    <div id="modal-backdrop" class="hidden"></div>
        <div id="add-recipe-modal" class="hidden">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h3>Add a new recipe to the website!</h3>
                    <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
                </div>

    <div class="modal-body">
            <form id="recipe-form">
                <div class="recipe-input-element">
                    <label for="modal-name" class="modal-label">Recipe Name</label>
                    <input type="text" id="modal-name" name="recipe-name" required>
                </div>

                <div class="recipe-input-element">
                    <label for="modal-cuisine" class="modal-label">Cuisine</label>
                    <select id="modal-cuisine" name="recipe-cuisine" required>
                        <option selected disabled value="">Select a Cuisine</option>
                        <option value="American">American</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Italian">Italian</option>
                        <option value="Chinese">Chinese</option>
                        <option value="French">French</option>
                        <option value="Japanese">Japanese</option>
                    </select>
                </div>

                <div id="ingredients-container">
                    <label class="modal-label">Ingredients</label>
                    <div class="recipe-input-element ingredient-group">
                        <input type="text" name="ingredientName[]" placeholder="Ingredient Name" required>
                        <input type="number" name="ingredientQty[]" placeholder="Quantity" required>
                        <select name="ingredientUOM[]">
                            <option value="g">g</option>
                            <option value="ml">ml</option>
                            <option value="cup">cup</option>
                            <option value="tbsp">tbsp</option>
                            <option value="tsp">tsp</option>
                            <option value="slices">slices</option>
                        </select>
                        <button type="button" class="remove-ingredient">Remove</button>
                    </div>
                </div>

                <button type="button" id="add-ingredient">Add Ingredient</button>

                <div class="recipe-input-element">
                    <label for="modal-description" class="modal-label">Instructions</label>
                    <textarea id="modal-description" rows="4" placeholder="Enter recipe instructions..."></textarea>
                </div>


                <div class="modal-footer">
                    <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                    <button type="button" id="modal-accept" class="action-button">Upload Recipe</button>
                </div>
            </div>
        </div>
    
    </div>


    