<script src="index.js"></script>

    <div>
        <div class="recipes-all-content">
            <div id="recipes-filter-container">
                <h2>Filters</h2>

                <div class="filter-input-container">
                    <label for="filter-text" class="filter-input-label">Text</label>
                    <div class="filter-input-element">
                        <input type="text" id="filter-text" class="filter-input">
                    </div>
                </div>

                <div class="filter-input-container">
                    <label for="filter-cuisine" class="filter-input-label">Cuisine</label>
                    <div class="filter-input-element">
                        <select id="filter-cuisine" class="filter-input" name="filter-cuisine">
                            <option selected value="">Any</option>
                            {{#each cuisineList}}
                            <option value={{name}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="filter-input-container">
                    <div id="updateButtonContainer" class="filter-input-element">
                        <button id="filter-update-button" type="button" class="filter-buttons">Search</button>
                    </div>
                </div>

            </div>

            <div id="recipes-column">
                <div class="testimonial-header">
                    <h1>Recipes</h1>
                </div>

                <div class="filter-input-container">
                    <div id="newRecipeButtonContainer">
                        <button type="button" id="add-recipe-button" class="new-btn">New</button>
                    </div>
                </div>
            
                <div id="browse" style="display: block">
                    <table id="recipe-table">
                        <tbody id="recipe-container">
                            <tr>
                                <th class="text-center">Recipe ID</th>
                                <th class="text-left">Recipe Name</th>
                                <th class="text-left">Description</th>
                                <th class="text-left">Cuisine</th>
                            </tr>
                            {{#each recipes}}
                            <tr data-value="{{recipe_ID}}">
                                <td class="text-center">{{recipe_ID}}</td>
                                <td class="text-center "><a href="#" onclick="getSelectedRecipeIngredients({{recipe_ID}}, '{{recipe_name}}'); getSelectedRecipeAvgRating({{recipe_ID}})">{{recipe_name}}</a></td>
                                <td class="text-left">{{recipe_description}}</td>
                                <td class="text-left" id ="filter-cuisine">{{cuisine_name}}</td>
                                <td><a href="#" onclick="updateRecipeValues({{recipe_ID}})">Edit</a></td>
                                <td><a href="#" onclick="deleteRecipe({{recipe_ID}})">Delete</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div id="single-recipe" style="display: none">
                        <div class="recipe-post">
                            <div class="recipe-title">
                                <h1 id="selected-recipe-title"></h1>
                            </div>
                            <div class="recipe-ingredients">
                                <h3>Ingredients:</h3>
                                <ul id="selected-recipe-ingredient-list">
                                </ul>
                            </div>
                            <div class="recipe-rating">
                                <h3>Rating:</h3>
                                <ul id="selected-recipe-avg-rating">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- browse -->


                <div id="insert" style="display: none"></div>
                <div id="updateRecord" style="display: none">
                    <h3>Update Recipe</h3>
                    <div class="formDiv">
                        <form class="formContainer" id="updateRecipe" action="javascript:updateRecipe()">
                        <div class="formInputContainer">
                            <label for="id" class="formInputLabel adjustWidth">Recipe ID:</label>
                            <div class="formInputElement">
                                <input type="number" id="update_recipe_id" name="id" class="formInput" disabled>
                            </div>
                        </div>
                        <form class="formContainer" id="updateRecipe">
                        <div class="formInputContainer">
                            <label for="Name" class="formInputLabel adjustWidth">Recipe Name:</label>
                            <div class="formInputElement">
                                <input type="text" id="update_recipe_name" name="name" class="formInput">
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Description" class="formInputLabel adjustWidth">Description:</label>
                            <div class="formInputElement">
                                <input type="text" id="update_recipe_description" name="description" class="formInput">
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <label for="Cuisine" class="formInputLabel adjustWidth">Cuisine:</label>
                            <div class="formInputElement">
                                <select id="update_recipe_cuisine" class="formInput">
                                    <option value = ''></option>
                                    {{#each cuisineList}}
                                    <option value={{cuisine_ID}}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <input class="buttons" type="submit" id="updateRecipe" value="Update">
                        <input class="buttons" type="button" value="Cancel" onclick="browse()">
                        </form>
                    </div>
                </div><!-- update -->
            </div>
        </div>
    </div>


    <div id="modal-backdrop" class="hidden"></div>
        <div id="add-recipe-modal" class="hidden">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h3>Add a new recipe to the website!</h3>
                </div>

    <div class="modal-body">
            <form id="recipe-form">
                <div class="recipe-input-element">
                    <label for="modal-name" class="modal-label">Recipe Name</label>
                    <input type="text" id="recipe-name" name="recipe-name" required>
                </div>

                <div class="recipe-input-element">
                    <label for="modal-cuisine" class="modal-label">Cuisine</label>
                    <select id="modal-cuisine" name="recipe-cuisine" required>
                        <option value = ''></option>
                        {{#each cuisineList}}
                            <option value={{cuisine_ID}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div id="ingredients-container">
                    <label class="modal-label">Ingredients</label>
                    <div class="recipe-input-element ingredient-group">
                        <select class="ingredient-select" id="modal-ingredient" name="recipe-ingredient">
                        {{#each ingredientList}}
                            <option value={{ingredient_ID}}>{{name}}</option>
                        {{/each}}
                        </select>
                        <input type="number" name="ingredientQty[]" placeholder="Quantity">
                        <select name="ingredientUOM[]">
                            <option value="g">g</option>
                            <option value="ml">ml</option>
                            <option value="cup">cup</option>
                            <option value="tbsp">tbsp</option>
                            <option value="tsp">tsp</option>
                            <option value="slices">slices</option>
                        </select>
                    </div>
                </div>

                <button type="button" id="add-ingredient">Add Ingredient</button>

                <div class="recipe-input-element">
                    <label for="modal-description" class="modal-label">Description</label>
                    <textarea id="modal-description" rows="4" placeholder="Enter recipe description..."></textarea>
                </div>


                <div class="modal-footer">
                    <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                    <button type="button" id="modal-accept" class="action-button">Upload Recipe</button>
                </div>
            </div>
        </div>
    
    </div>


    