<h1>Reviews</h1>
<div id="browse" style="display: block">
  <h3>Browse Reviews</h3>
  <a class="new-btn" href="#" onclick="addRecord()">New</a>
  <table>
    <tr>
      {{!-- <th><a href="#" onclick="addRecord()">New</a></th> --}}
      <th class="text-center">ID</th>
      <th class="text-left">Recipe</th>
      <th class="text-left">Reviewer</th>
      <th class="text-center">Date</th>
      <th class="text-right">Rating</th>
    </tr>
    {{#each reviews}}
    <tr>
      <td class="text-center">{{review_ID}}</td>
      <td class="text-left">{{recipe_name}}</td>
      <td class="text-left">{{review_reviewer}}</td>
      <td class="text-center">{{review_date}}</td>
      <td class="text-right">{{review_rating}}</td>
      <td><a href="#" onclick="updateReviewValues({{review_ID}})">Edit</a></td>
      <td><a href="#" onclick="deleteReview({{review_ID}})">Delete</a></td>
    </tr>
    {{/each}}
  </table>
</div> <!-- browse -->

<div id="insert" style="display: none">
  <h3>Add Review</h3>
  <div class="formDiv">
    <form class="formContainer" id="addReview" action="javascript:addReview()">
      <div class="formInputContainer">
        <label for="Recipe" class="formInputLabel adjustWidth">Recipe:</label>
        <div class="formInputElement">
          <select id="add_review_recipe" class="formInput">
            {{#each recipeList}}
            <option value="{{recipe_ID}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Reviewer" class="formInputLabel adjustWidth">Reviewer:</label>
        <div class="formInputElement">
          <input type="text" id="add_review_reviewer" name="reviewer" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Rating" class="formInputLabel adjustWidth">Rating:</label>
        <div class="formInputElement">
          <input type="number" id="add_review_rating" min="1" max="5" value="5" name="rating" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="addCuisine" value="Add">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form>
  </div>
</div><!-- insert -->

<div id="updateRecord" style="display: none">
  <h3>Update Review</h3>
  <div class="formDiv">
    <form class="formContainer" id="updateReview" action="javascript:updateReview()">
      <div class="formInputContainer">
        <label for="ID" class="formInputLabel adjustWidth">ID:</label>
        <div class="formInputElement">
          <input type="text" id="update_review_id" name="reviewID" class="formInput" disabled>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Recipe" class="formInputLabel adjustWidth">Recipe:</label>
        <div class="formInputElement">
          <select id="update_review_recipe" class="formInput">
            {{#each recipeList}}
            <option value="{{recipe_ID}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Reviewer" class="formInputLabel adjustWidth">Reviewer:</label>
        <div class="formInputElement">
          <input type="text" id="update_review_reviewer" name="reviewer" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Date" class="formInputLabel adjustWidth">Date:</label>
        <div class="formInputElement">
          <input type="text" id="update_review_date" name="date" class="formInput">
        </div>
      </div>
      <div class="formInputContainer">
        <label for="Rating" class="formInputLabel adjustWidth">Rating:</label>
        <div class="formInputElement">
          <input type="number" min="1" max="5" id="update_review_rating" name="rating" class="formInput">
        </div>
      </div>
      <input class="buttons" type="submit" id="UpdateSaveCuisine" value="Update">
      <input class="buttons" type="button" value="Cancel" onclick="browse()">
    </form> 
  </div>
</div><!-- update -->
